#bare minimum hostfile

[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
openshift_deployment_type=openshift-enterprise

# localhost likely doesn't meet the minimum requirements
openshift_disable_check=disk_availability,memory_availability

oreg_url=registry.redhat.io/openshift3/ose-${component}:${version}
oreg_auth_user="{{ rh_oreg_auth_user }}"
oreg_auth_password={{ rh_oreg_auth_password }}

openshift_node_groups=[{'name': 'node-config-all-in-one', 'labels': ['node-role.kubernetes.io/master=true', 'node-role.kubernetes.io/infra=true', 'node-role.kubernetes.io/compute=true']}]

openshift_master_cluster_hostname={{ public_hostname }}
openshift_master_cluster_public_hostname={{ public_hostname }}
openshift_master_default_subdomain={{ public_hostname }}

openshift_master_overwrite_named_certificates=true
openshift_master_named_certificates=[{"certfile": "/root/certificates/cert.crt", "keyfile": "/root/certificates/cert.key", "cafile": "/root/certificates/ca-bundle.pem"}]
openshift_hosted_router_certificate={"certfile": "/root/certificates/cert.crt", "keyfile": "/root/certificates/cert.key", "cafile": "/root/certificates/ca-bundle.pem"}


openshift_override_hostname_check=true

# Httpasswd authentication, disabled
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_htpasswd_users={'{{ admin_user }}': '{{ admin_password_md5 }}'}

os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'

openshift_logging_install_logging=false
openshift_metrics_install_metrics=false
openshift_cluster_monitoring_operator_install=true
openshift_enable_olm=true



[masters]
q ansible_connection=local

[etcd]
q ansible_connection=local

[nodes]
# openshift_node_group_name should refer to a dictionary with matching key of name in list openshift_node_groups.
q ansible_connection=local openshift_node_group_name="node-config-all-in-one"

